*{
  font-family: 'Times New Roman', Times, serif;
  
}
.uppdatevalue{
  width: 400px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(169, 17, 6);
  margin-top: 20px;
}
.container {
	width: 600px;
	background: rgb(227, 163, 12);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  border-radius: 10px;
  border: 3px solid black;
}
.uppdatevalue h1 {
  font-size: 23px;
  text-transform: capitalize
}
.input {
	width: 400px;
	height: 50px;
	border: 2px solid rgb(229, 9, 218);
  border-radius: 10px;
	outline: none;
	margin: 0 auto;
	margin-top: 10px;
  font-size: 23px;
}
.static-items{
  width: 400px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(225, 228, 60);
  margin-top: 20px;
  margin-bottom: 20px;
}
.static-items h1 {
  font-size: 23px;
  text-transform: capitalize;
  padding-top: 10px;
}